{% extends "layout.html" %} 
{% block content %} 
<h1 style="text-align: center;">Listing</h1>
{% for apartment in apartments %} 
    <h2>{{apartment.name}}</h2>
    <a href="{{apartment.link}}">Link</a>
    <br>
    <img src="{{apartment.image}}">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-2">
            {{"Price: " + apartment.price}}
            </div>
            <div class="col-sm-2">
            {{"Size: " + apartment.size}}
            </div>
            <div class="col-sm-2">
            {{apartment.roomNo}}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
            {{"Address: " + apartment.address}}
            </div>
        </div>
    </div>
{% endfor %}
{% if apartments |length ==0 %} 
    <h2>No matching apartments were found!</h2>
{%endif%}
{% endblock content %}