<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Home Page</h1>
        <div class="content-section">
            <form method="POST" action="">
                <fieldset class="form-group">
                 <ul class="form-group">
                    {{form.city.label(class="form-control-label")}}
                    {{form.city(class="form-control form-control-lg")}}
                 </ul>  
                 <ul class="form-group">
                    {{form.bedrooms.label(class="form-control-label")}}
                    {{form.bedrooms(class="form-control form-control-lg")}}
                 </ul>  
                </fieldset>
            </form>
        </div>
    </body>
</html>